@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hedvig';
  font-style: normal;
  src: url(./assets/fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Playfair';
  font-style: normal;
  src: url(./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf)
    format('truetype');
}
@font-face {
  font-family: 'PlayfairItalic';
  font-style: italic;
  src: url(./assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  src: url(./assets/fonts/GrenzeGotisch-VariableFont_wght.ttf)
    format('truetype');
}
