@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

@layer components {
  .btn {
    color: #d2e6ee;
    background-color: #1f434a;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    width: 180px; 
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
  }
  .btn:hover {
    text-decoration: none;
    background: rgba(#0f242d, 0);
    font-weight: 700;
    letter-spacing: 1px;
  }
  .btn svg {
    height: 60px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
    fill: none;
    stroke: rgb(210, 230, 238);
    stroke-width: 4;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1.25s ease-in-out;
  }
  .btn svg > rect {
    fill: none;
  }
  .btn:hover svg {
    stroke-width: 4;
    stroke-dashoffset: -480;
  }
  .btn-ex {
    border: 1px solid rgb(210, 230, 238);
    overflow: hidden;
    position: relative;
  }
  .btn-ex span {
    z-index: 20;
  }  
  .btn-ex:after {
    background: rgb(210, 230, 238);
    content: "";
    height: 155px;
    left: -75px;
    opacity: .9;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  .btn-ex:hover:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
